<li id="message-<%= message.id %>">
  <span class="content">
    <%= message.content %>
    <%= image_tag message.picture.url if message.picture? %>
  </span>
  <span class="timestamp">
    Posted 
    <% if message.created_at < Time.now - 1.hour %>
       <%= time_ago_in_words(message.created_at) %> 
        ago
    <% else %>
        <%= message.created_at.strftime("on %m/%d/%Y at %I:%M%p ") %>
    <% end %> 
    <% unless message.author.blank? %>
      by <%= message.author %>.
    <% end %>     
    <%= link_to "delete", message, method: :delete,
                                       data: { confirm: "You sure?" } %>
  </span>
</li>
