<li id="message-<%= message.id %>">
  <span class="content">
    <%= message.content %>
    <%= image_tag message.picture.url if message.picture? %>
  </span>
  <span class="timestamp">
    Posted 
    <%= timestamp_for_messages(message) %>
    <% unless message.author.blank? %>
      by <%= message.author %>.
    <% end %>     
    <%= link_to "delete", message, method: :delete,
                                       data: { confirm: "You sure?" } %>
  </span>
</li>
