<% if user_signed_in? %>
  <div class="row">
      <h2>New message</h2>

    <div class="col-md-4">
      <section class="messages_form">
        <%= form_for(@message, html: { multipart: true }) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="field">
            Leave a message for:
            <%= f.text_field :recipient %>
          </div>
          <div class="field">
            Your message:
            <%= f.text_area :content, placeholder: "Compose new message..." %>
          </div>

          <span class="picture">
            Want to add a picture?
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %> 
          </span> 
          <div class="field">
            Please enter your name:
            <%= f.text_field :author %>
          </div>
          <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>

        <script type="text/javascript">
          $('#message_picture').bind('change', function() {
            var size_in_megabytes = this.files[0].size/1024/1024;
            if (size_in_megabytes > 5) {
              alert('Maximum file size is 5MB. Please choose a smaller file.');
            }
          });
        </script>
        
      </section>
    </div>
  </div>
<% else %>
  <div> user not logged in </div>
<% end %>
