<%if user_signed_in? %>

  <h1>Welcome <%= personal_address %>, to your online answering machine! </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>You want to see your messages?</br>
          Just click <%= link_to "here", user_path(current_user) %>!
        </h2></div>
      <div class="col-md-4">
        <h2>You want to visit your profile?</br>
          Just click <%= link_to "here", user_path(current_user) %>!
        </h2></div>
      <div class="col-md-4">
        <h2>You want to leave a message for a friend?</br>
          Just click <%= link_to "here", new_message_path %> and enter the name or email adress of your friend.
        </h2></div>
    </div>
  </div>

<%else%>

  <h1>Welcome to my online answering machine! </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2> Already a user?</br>
          Just <%= link_to "log in", new_user_session_path %>!
        </h2></div>
      <div class="col-md-4">
        <h2> You want to join?</br>
          Just <%= link_to "sign up", new_user_registration_path %>!
        </h2></div>
      <div class="col-md-4">
        <h2> You think "What is this website for??" ?</br>
          Just click <%= link_to "here", pages_about_path %> and I tell you!
        </h2></div>
      </div>
    </div>    

<%end%>